* {
  box-sizing: border-box;
}

body {
  padding-left: 10px;
}

nav {
  float: right;
  display: inline;
}

nav ul li {
  display: inline-block;
  padding-right: 5px;
}

header {
  margin-bottom: 25px;;
}

h1 {
  display: inline;
}

.block {
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5%;
  line-height: 1.5em;
}

.project-blocks .block {
  width: 350px;
  height: 330px;
}

.skill-blocks .block {
  width: 200px;
  height: 250px;
}

.skill-blocks .block h3 {
  text-align: center;
}

.experience-blocks {
  padding-left: 20px;
}

li {
  padding-bottom: 5px;
}